<%-include("partials/t_above", {data:"Dashboard"})%>
    <%-include("partials/addTodo")%>
    <div class="todo-container">
        <% todos.forEach(function(t){ %>
        <form method="post" action="/todo/<%=t.id%>?iscomp=<%=t.isComplete%>">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="submit" class="<%-t.isComplete == 0 ? "red2-btn" : "green-btn" %>" value="<%= t.title %>">
        </form>
        <% });%>
    </div>
  
<%-include("partials/t_auth_below")%>